<p>test</p>

<button>click me</button>

<form action='lifmodel' method='GET'>
<button type='submit'> LIFModel</button>
</form>

<body>
    <img src="data:image/png;base64,{{ data }}" alt="" height="750" ,width="500">

    <img src="data:image/png;base64,{{ data2 }}" alt=""  >
    <img src="data:image/png;base64,{{ data3 }}" alt=""  >
    <img src="data:image/png;base64,{{ data4 }}" alt=""  >
    <img src="data:image/png;base64,{{ data5 }}" alt=""  >
    <img src="data:image/png;base64,{{ data6 }}" alt=""  >
    <img src="data:image/png;base64,{{ data7 }}" alt=""  >
    <img src="data:image/png;base64,{{ data8 }}" alt=""  >
    <img src="data:image/png;base64,{{ data9 }}" alt=""  >
    <img src="data:image/png;base64,{{ data10 }}" alt=""  >
    <img src="data:image/png;base64,{{ data11 }}" alt=""  >
    <img src="data:image/png;base64,{{ data12 }}" alt=""  >
    <img src="data:image/png;base64,{{ data13 }}" alt=""  >
    <img src="data:image/png;base64,{{ data14 }}" alt=""  >
    <img src="data:image/png;base64,{{ data15 }}" alt=""  >
    <img src="data:image/png;base64,{{ data16 }}" alt=""  >
    <img src="data:image/png;base64,{{ data17 }}" alt=""  >
    <img src="data:image/png;base64,{{ data18 }}" alt=""  >
</body>