<title>Postsynaptic Neurons</title>
<body>
    
    <img src="data:image/png;base64,{{ data7 }}" alt="" >
    <img src="data:image/png;base64,{{ data8 }}" alt="" >
    <img src="data:image/png;base64,{{ data9 }}" alt="" >
    <img src="data:image/png;base64,{{ data10 }}" alt="" >
    <img src="data:image/png;base64,{{ data11 }}" alt="" >
    <img src="data:image/png;base64,{{ data12 }}" alt="" >
    <form action='/lifsnn' method='GET'>
        <button type='submit'> Back</button>
    </form>
</body>