<title> synaptic Spikes</title>
<body>
    
    <img src="data:image/png;base64,{{ data13 }}" alt="" >
    <img src="data:image/png;base64,{{ data14 }}" alt="" >
    <img src="data:image/png;base64,{{ data15 }}" alt="" >
    <img src="data:image/png;base64,{{ data16 }}" alt="" >
    <img src="data:image/png;base64,{{ data17 }}" alt="" >
    <img src="data:image/png;base64,{{ data18 }}" alt="" >
    <form action='/lifsnn' method='GET'>
        <button type='submit'> Back</button>
    </form>
</body>